body { 
    background: #333;
}

.h1-title { 
    text-align: center; 

    display: block;

    color:#FFF;
}

.div-logo { 
    display: flex; 

    align-content: center;
    justify-content: center;
}